<div class="container">
    <div>
        <h1>Cadastro de pessoas</h1>
    </div>
    
  
    <form [formGroup]="formulario" class="form">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Nome" formControlName="nome">
        <mat-error *ngIf="formService.form.get('nome')?.hasError('required')">O campo nome é obrigatório</mat-error>

      </mat-form-field>
  
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Imóvel</mat-label>
        <mat-select formControlName="imovelId" >
          <mat-option *ngFor="let imovel of arrayImoveis" [value]="imovel.id">
            {{imovel.nome }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            formulario.get('imovelId')?.invalid &&
            formulario.get('imovelId')?.touched
          "
        >
          Selecione um imóvel.
        </mat-error>
      </mat-form-field>

      <br>
  
      <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
    </form>
  </div>
  