<mat-form-field appearance="outline">
    <mat-label>CEP</mat-label>
    <input matInput formControlName="cep" required>
  </mat-form-field>

<mat-form-field appearance="outline">
    <mat-label>Rua</mat-label>
    <input matInput formControlName="rua" required>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>Número</mat-label>
    <input matInput formControlName="numero" type="number" required>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>Bairro</mat-label>
    <input matInput formControlName="bairro" required>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>Cidade</mat-label>
    <input matInput formControlName="cidade" required>
  </mat-form-field>
  
  <mat-form-field appearance="outline">
    <mat-label>UF</mat-label>
    <input matInput formControlName="uf" required>
  </mat-form-field>
  
  
  