.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1em;
}

.checkbox-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 16px;
}

.container-form-field {
    display: flex;
    gap: 12px;    
}

.form-field {
    width: 30vw;
}

.container-salvar {
    text-align: center;
}
